.section {
  padding-top: 24px;
  padding-bottom: 32px;
}

.wrapper {
  width: 1312px;
  height: 116px;
  border-radius: 30px;
  border: 2px dashed #9fbaae;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 123px;
}

.list {
  width: 1067px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.value {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #121417;
  white-space: nowrap;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}
